@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Anton&family=Impact&family=Lobster&family=Pacifico&family=Montserrat:wght@400;700&family=Oswald:wght@400;700&family=Playfair+Display:wght@400;700&family=Raleway:wght@400;700&family=Fira+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  --mainColor: #3b82f6;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #bbd5ff;
}

::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0062ff;
}
.menu {
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}

.clip-open {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

@media (min-width: 640px) {
  .menu {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%) !important;
  }
}

.faX {
  animation: rotateAnimation 0.3s;
}

.faBars {
  animation: scaleAnimation 0.3s;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleAnimation {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
